body {
  background-color: lightgoldenrodyellow;
  font-family: Arial, Helvetica, sans-serif;
}

.recipe-box {
  border-width: 5px;
  border-color: black;
  border-style: double;
  padding: 4px;
  width: 400px;
  margin: 8px 0px;
}

.recipe-title {
  padding: 0px 0px 8px 0px;
}